<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Search iGEM</title>
  </head>
  <body>
      <div class="container">
        <div class="row">
          <div class="col-sm-3" id="sidebar">
              <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
          </div>
          <div class="col-sm-9" id="content">
                {% if projects_list %}
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                      <th> # </th>
                      <th>Year</th>
                      <th>Team Name</th> 
                      <th>Project Title</th>
                      <th>Track</th>
                      <th>Location</th>
                    </tr>
                    </thead>
                  <tbody>
                    {% for project in projects_list %}
                       <tr data-toggle="collapse" data-target="#demo{{project.pk}}" class="accordion-toggle">

                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{project.year}}</td>
                        <td>{{project.team_name}}</td> 
                        <td> {{project.project_title }}</td>
                        <td> {{project.track }}</td>
                        <td>{{project.location }}</td>
                       </tr>
                        <tr >
                        <td colspan="6" class="hiddenRow">
                          <div class="accordian-body collapse" id="demo{{project.pk}}"> 
                            <p>Abstract: {{project.abstract }}</p>
                            <p>Institution: {{project.institution }} </p>
                            <p> Nominations: {{project.nominations}}</p>
                            <p> Medal: {{project.medal}}</p>
                            <p> Awards: {{project.awards}}</p>
                            <p> Section: {{project.section}}</p>
                            <a href="id/{{project.pk}}">Details</a></td>

                          </div> 
                        </td>
                    </tr>
                  {% endfor %}
                    </tbody>
                </table>
                    {% else %}
                    <p>No list available.</p>
                {% endif %}

          </div>
         
        </div>
      </div>


		


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
	